[project]
	description = un test sur gerrithub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/red10delpiero
[access "refs/for/refs/*"]
	read = group user/red10delpiero
	push = group user/red10delpiero
	label-Code-Review = -2..+2 group user/red10delpiero
	label-Verified = -1..+1 group user/red10delpiero
	rebase = group user/red10delpiero
	removeReviewer = group user/red10delpiero
	submit = group user/red10delpiero
[access "refs/heads/*"]
	read = group user/red10delpiero
	create = group user/red10delpiero
	push = +force group user/red10delpiero
	pushMerge = group user/red10delpiero
[access "refs/tags/*"]
	push = group user/red10delpiero
	push = +force group user/red10delpiero
